nespresso-osb-testsuite/xsd/wmos_to_ffmw/B2MML-V02-Common_Globe-V01_Schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v5 rel. 4 U (http://www.xmlspy.com) by Nick Feakes (Nestec S.A.) -->
<!--Generated by Turbo XML 2.4.1.100. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<xsd:schema targetNamespace="" xmlns="" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation> 
		27/11/2003 - Jean Vieille
		Nestlé : Schema modified for Globe middleware / SAP interface
		LocationType : added StorageLocation 
		EqiopmentLevelType1 : added StorageZone and StorageModule
		</xsd:documentation>
		<xsd:documentation> 
        Copyright 2002 The World Batch Forum. All Rights Reserved. http://www.wbf.org

        This World Batch Forum Work (including specifications, documents, 
        software, and related items) referred to as the Business To 
        Manufacturing Markup Language (B2MML) is provided by the copyright 
        holders under the following license. 

        Permission to use, copy, modify, or redistribute this Work and its 
        documentation, with or without modification, for any purpose and 
        without fee or royalty is hereby granted provided the World Batch 
        Forum is acknowledged as the originator of this Work using the 
        following statement:

        "The Business To Manufacturing Markup Language (B2MML) is used 
        courtesy of the World Batch Forum."

        In no event shall the World Batch Forum, its members, or any 
        third party be liable for any costs, expenses, losses, damages or 
        injuries incurred by use of the Work or as a result of this 
        agreement.
      
        Based upon the ANSI/ISA-95.00.02-2001 Enterprise-Control System 
        Integration Part 2: Object Model Attributes Standard
   
		</xsd:documentation>
		<xsd:documentation> 

      Revision History

	Ver	Date		Person		Note
        ---     ----            ------          ----
        V01     7 Apr 2002      D. Emerson      Initial release  
        V02     23 Sept 2003     D. Emerson      Updated filename for V02
	                                        Changed complexTypes that contained 
						simpleContent to be simpleTypes with
						simpleContent by default (removed explicit)
						simpleContent tags).  Types changed:
							CapabilityType1Type, DataType1Type
							DependencyType
				                Removed extra space in CapabilityType1Type
						Committed and Available enumerations
					        Changed use of ##any to indirect reference 
						through AnyType, to allow parsing using Microsoft 
						XML toolset
                                                Added Common schema to B2MML namespace
                                                Add choice of ProductSegmentID or ProcessSegmentID 
                                                to SegmentDependencyType per comment BillS01.
                                                Change maxOccurs from "1" to "unbounded" for 
                                                Result in TestResultType.
                                                Remove UnitOfMeasure from TestResultType since it
                                                is already in ResultType
                                                Added EnumerationID to DataTypeType to permit
                                                identification an enumeration list when the datatype
                                                is Enumeration.
                                                Added revision to namespace
                                                Added new element ValueString to ResultType to
                                                contain the vaule of the result.  
   
		</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="ActualFinishTimeType">
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="ActualStartTimeType">
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="ActualEndTimeType">
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="BillOfResourcesIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="BillOfMaterialIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="BillOfMaterialsIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="CapabilityType1Type">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Committed"/>
			<xsd:enumeration value="Available"/>
			<xsd:enumeration value="Unattainable"/>
			<xsd:enumeration value="Other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CauseType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="CertificateOfAnalysisReferenceType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ConsumableType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="CorrectionType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="DataType1Type">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="string"/>
			<xsd:enumeration value="byte"/>
			<xsd:enumeration value="unsignedByte"/>
			<xsd:enumeration value="binary"/>
			<xsd:enumeration value="integer"/>
			<xsd:enumeration value="positiveInteger"/>
			<xsd:enumeration value="negativeInteger"/>
			<xsd:enumeration value="nonNegativeInteger"/>
			<xsd:enumeration value="nonPositiveInteger"/>
			<xsd:enumeration value="int"/>
			<xsd:enumeration value="unsignedInt"/>
			<xsd:enumeration value="long"/>
			<xsd:enumeration value="unsignedLong"/>
			<xsd:enumeration value="short"/>
			<xsd:enumeration value="unsignedShort"/>
			<xsd:enumeration value="decimal"/>
			<xsd:enumeration value="float"/>
			<xsd:enumeration value="double"/>
			<xsd:enumeration value="boolean"/>
			<xsd:enumeration value="time"/>
			<xsd:enumeration value="timeInstant"/>
			<xsd:enumeration value="timePeriod"/>
			<xsd:enumeration value="duration"/>
			<xsd:enumeration value="date"/>
			<xsd:enumeration value="month"/>
			<xsd:enumeration value="year"/>
			<xsd:enumeration value="century"/>
			<xsd:enumeration value="recurringDay"/>
			<xsd:enumeration value="recurringDate"/>
			<xsd:enumeration value="recurringDuration"/>
			<xsd:enumeration value="Name"/>
			<xsd:enumeration value="QName"/>
			<xsd:enumeration value="NCName"/>
			<xsd:enumeration value="uriReference"/>
			<xsd:enumeration value="language"/>
			<xsd:enumeration value="ID"/>
			<xsd:enumeration value="IDREF"/>
			<xsd:enumeration value="IDREFS"/>
			<xsd:enumeration value="ENTITY"/>
			<xsd:enumeration value="ENTITIES"/>
			<xsd:enumeration value="NOTATION"/>
			<xsd:enumeration value="NMTOKEN"/>
			<xsd:enumeration value="NMTOKENS"/>
			<xsd:enumeration value="Enumeration"/>
			<xsd:enumeration value="Other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Dependency1Type">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="NotFollow"/>
			<xsd:enumeration value="PossibleParallel"/>
			<xsd:enumeration value="NotInParallel"/>
			<xsd:enumeration value="AtStart"/>
			<xsd:enumeration value="AfterStart"/>
			<xsd:enumeration value="AfterEnd"/>
			<xsd:enumeration value="NoLaterAfterStart"/>
			<xsd:enumeration value="NoEarlierAfterStart"/>
			<xsd:enumeration value="NoLaterAfterEnd"/>
			<xsd:enumeration value="NoEarlierAfterEnd"/>
			<xsd:enumeration value="Other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DescriptionType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="DurationType">
		<xsd:restriction base="xsd:duration"/>
	</xsd:simpleType>
	<xsd:simpleType name="EarliestStartTimeType">
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="EndTimeType">
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="EquipmentCapabilityTestSpecificationIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EquipmentClassIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="EquipmentElementLevel1Type">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Enterprise"/>
			<xsd:enumeration value="Site"/>
			<xsd:enumeration value="Area"/>
			<xsd:enumeration value="ProcessCell"/>
			<xsd:enumeration value="Unit"/>
			<xsd:enumeration value="ProductionLine"/>
			<xsd:enumeration value="WorkCell"/>
			<xsd:enumeration value="ProductionUnit"/>
			<xsd:enumeration value="StorageZone"/>
			<xsd:enumeration value="StorageModule"/>
			<xsd:enumeration value="Other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="EquipmentIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ExpirationTimeType">
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="IDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="LatestEndTimeType">
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="MaintenanceRequestIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="MaintenanceResponseIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="MaintenanceWorkOrderIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="MaterialClassIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="MaterialDefinitionIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="MaterialLotIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="MaterialSubLotIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="MaterialUse1Type">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Consumed"/>
			<xsd:enumeration value="Produced"/>
			<xsd:enumeration value="Consumable"/>
			<xsd:enumeration value="Other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NameType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="OtherDependencyType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ParameterIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="PersonnelClassIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="PersonIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="PersonNameType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="PlannedFinishTimeType">
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="PlannedStartTimeType">
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="PriorityType">
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<xsd:simpleType name="ProblemType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ProcessSegmentIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ProductionScheduleIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ProductProductionRuleIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ProductProductionRuleType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ProductionRequestIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ProductSegmentIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="PropertyIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="PublishedDateType">
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="QAMaterialTestSpecificationIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="QualificationTestSpecificationIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="QuantityStringType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReasonType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="RequestedCompletionDateType">
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="RequestedPriorityType">
		<xsd:restriction base="xsd:integer"/>
	</xsd:simpleType>
	<xsd:simpleType name="RequestorType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="RequiredByRequestedSegmentResponse1Type">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Required"/>
			<xsd:enumeration value="Optional"/>
			<xsd:enumeration value="Other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ResourcesType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ResponsiblePersonType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ReviewerType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="SegmentState1Type">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Ready"/>
			<xsd:enumeration value="Running"/>
			<xsd:enumeration value="Completed"/>
			<xsd:enumeration value="Aborted"/>
			<xsd:enumeration value="Holding"/>
			<xsd:enumeration value="Other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SubmissionDateType">
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="StartTimeType">
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="StatusTimeType">
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="StatusType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="StorageLocationType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="TestDateTimeType">
		<xsd:restriction base="xsd:dateTime"/>
	</xsd:simpleType>
	<xsd:simpleType name="UnitOfMeasureType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="ValueStringType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="VersionType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<!-- Globe extension -->
	<xsd:simpleType name="TransferScheduleIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:simpleType name="TransferRequestIDType">
		<xsd:restriction base="xsd:string"/>
	</xsd:simpleType>
	<xsd:complexType name="AnyType">
		<xsd:sequence>
			<xsd:any namespace="##any" processContents="skip" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CapabilityTypeType">
		<xsd:simpleContent>
			<xsd:extension base="CapabilityType1Type">
				<xsd:attribute name="OtherValue" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="DataTypeType">
		<xsd:simpleContent>
			<xsd:extension base="DataType1Type">
				<xsd:attribute name="OtherValue" type="xsd:string"/>
				<xsd:attribute name="EnumerationID" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="DependencyType">
		<xsd:simpleContent>
			<xsd:extension base="Dependency1Type">
				<xsd:attribute name="OtherValue" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="EquipmentElementLevelType">
		<xsd:simpleContent>
			<xsd:extension base="EquipmentElementLevel1Type">
				<xsd:attribute name="OtherValue" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="LocationType">
		<xsd:sequence>
			<xsd:element name="EquipmentID" type="EquipmentIDType"/>
			<xsd:element name="EquipmentElementLevel" type="EquipmentElementLevelType"/>
			<xsd:element name="Location" type="LocationType" minOccurs="0"/>
			<xsd:element name="Globe_StorageLocation" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Any" type="AnyType" minOccurs="0" maxOccurs="unbounded"/>
			<!-- Globe extension -->
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="MaterialUseType">
		<xsd:simpleContent>
			<xsd:extension base="MaterialUse1Type">
				<xsd:attribute name="OtherValue" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ParameterType">
		<xsd:sequence>
			<xsd:element name="ID" type="IDType"/>
			<xsd:element name="Value" type="ValueType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Description" type="DescriptionType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Parameter" type="ParameterType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Any" type="AnyType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="QuantityType">
		<xsd:sequence>
			<xsd:element name="QuantityString" type="QuantityStringType"/>
			<xsd:element name="DataType" type="DataTypeType"/>
			<xsd:element name="UnitOfMeasure" type="UnitOfMeasureType"/>
			<xsd:element name="Any" type="AnyType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<!-- Used to avoid a mixed content XML element -->
		<!-- Int, Float, String, ... -->
		<!-- Unit of measure of the value -->
	</xsd:complexType>
	<xsd:complexType name="RequiredByRequestedSegmentResponseType">
		<xsd:simpleContent>
			<xsd:extension base="RequiredByRequestedSegmentResponse1Type">
				<xsd:attribute name="OtherValue" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="ResultType">
		<xsd:sequence>
			<xsd:element name="ValueString" type="ValueStringType"/>
			<xsd:element name="DataType" type="DataTypeType"/>
			<xsd:element name="Any" type="AnyType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SegmentDependencyType">
		<xsd:sequence>
			<xsd:element name="ID" type="IDType"/>
			<xsd:element name="Description" type="DescriptionType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Dependency" type="DependencyType"/>
			<xsd:element name="TimingFactor" type="ValueType" minOccurs="0"/>
			<xsd:choice>
				<xsd:element name="ProductSegmentID" type="ProductSegmentIDType"/>
				<xsd:element name="ProcessSegmentID" type="ProcessSegmentIDType"/>
			</xsd:choice>
			<xsd:element name="Any" type="AnyType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<!-- may just be a local ID for uniqueness -->
	</xsd:complexType>
	<xsd:complexType name="SegmentStateType">
		<xsd:simpleContent>
			<xsd:extension base="SegmentState1Type">
				<xsd:attribute name="OtherValue" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TestResultType">
		<xsd:sequence>
			<xsd:element name="ID" type="IDType" minOccurs="0"/>
			<xsd:element name="Description" type="DescriptionType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="TestDateTime" type="TestDateTimeType" minOccurs="0"/>
			<xsd:element name="Result" type="ResultType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="ExpirationTime" type="ExpirationTimeType" minOccurs="0"/>
			<xsd:element name="Any" type="AnyType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ValueType">
		<xsd:sequence>
			<xsd:element name="ValueString" type="ValueStringType" minOccurs="0"/>
			<xsd:element name="DataType" type="DataTypeType"/>
			<xsd:element name="UnitOfMeasure" type="UnitOfMeasureType"/>
			<xsd:element name="Any" type="AnyType"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>